
.galModMain {
    width: 100%;
    height: relative;
    background-color: aliceblue;
}
.galleryModelApp {
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-top: 100px;
    position: absolute;
    border-radius: 1px 50px 1px 50px;
    background-color: rgba(53, 75, 109, 0.949);
}

.galleryModelOne {
    width: 350px;
    height: 350px;
    margin-left: 585px;
    margin-top: 100px;
    position: absolute;
    border-radius: 50px 50px 1px 1px;
    background-color: rgba(53, 75, 109, 0.949);
}
.galleryModelTwo {
    width: 350px;
    height: 350px;
    margin-left: 1100px;
    margin-top: 100px;
    position: absolute;
    border-radius: 50px 1px 50px 1px;
    background-color: rgba(53, 75, 109, 0.949);
}
